@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root{
    --fccGreen: #007E00;
    --fccDarkGreen: #006400;
    --p25: 25px;
    --m15: 15px;
}

/* GENERAL STYLES */
* {
    box-sizing: border-box;
}

a {
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color:#E0E0E0;
    opacity: 1;
    font-size: 50px;
}

body {
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #fff;
    text-align: center;
    position: fixed;
    padding: 50px 20px;
    top:0;
    left: 0;
    right: 0;
}

img.logo {
    width: 300px;
}

/* FORM STYLES */
form{
    color: white;
    background-color: var(--fccGreen);
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


fieldset{
    width: 100%;
    height: 80%;
} 

legend{
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 1.5;
}

legend::after {
    content: "";
    display: block;
    height: 2px;
    width: 300px;
    background-color: #fff;
    margin: 20px auto;
}

.f1 input {
    margin: 10px;
    padding: 5px;
    font-size: 22px;
    background: var(--fccDarkGreen);
    color: #fff;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
}

textarea.other, textarea.other2, textarea.comments {
    width: 500px;
    height: 100px;
    background: var(--fccDarkGreen);
    color: #fff;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

textarea.other.show, textarea.other2.show {
    opacity: 1;
}

.custom-select {
    margin: 20px 0;
}

.custom-select select {
    color: #fff;
    padding: 5px 8px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    background: var(--fccDarkGreen);
    background-image: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    cursor: pointer;
}

.custom-select select:focus {
    outline: none;
}

::placeholder{
    color: #fff;
    opacity: 1;
}

/* hide the fields here for styling */
 .f2, .f3, .f4, .f5, .f6 {
     display: none;
 }

.form-content {
  position:absolute;
  top:35%;
  left: 50%;
  transform: translateX(-50%);
}

/* FIELDSET 1 */

fieldset.f1 label{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
    opacity: 0;
    transform: translateX(-70px);
    transition: all 0.5s ease-in-out;
}

fieldset.f1 label.active{
    transform: translateX(0);
    opacity: 1;
}

.f1 .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* FIELDSET 3 */
.radio-cont{
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    margin-bottom: var(--m15);
    background: url('https://lh3.googleusercontent.com/CSygHWUdWSpIIfoPv3gwc0PctzOTVFGSCcSel4lOtxBBofmpt1QJxOF8MwrXbi0lIxxnKw2Cj6btMFTJZIGxWpkNpHZL41cOa5sgeSgtlsmat7YjkQlrU2XbmhPrxZwElMf9hucSAfEgF0VRLQy58ATRdf1mQULv5VcfnWFyus03KF8Egtg_pwW1_LRnklFEAUUZ_TyzEqFM3cp6G_aDyQpNCKxNvoLWkrcV-tgxqxQGAqC45JAkWWNXSxKgXD8TINX_xO1oml6fh_qVC32SwSQZqkk8Mkhvi2V3DSME0BzcS7wlku5tUK9ijkksro3Wp9kS7Ng4kyPDpkhZAh0kaiKXe4vUXfpZhhXuVjMwaP04HmMFJ7tjKt7bKvIHo0LcKv1zbbQsJ5ZTbI9wRabnUk9dWZtKE0w9BwiNbHuw1JrJBzmSCon9aQZD2DCD72DZEgaUchpdWKi-jShqHvrhaUYUeOUQiImDmo9NBKocQIW76p69uns8tbm1XXohE6tc-PKj8Cx66YtZLm4oUsvppee7Sw92GBFNvMPP9BGZSvxZmpV6TV5rNga1JBJOCMKw76SuYRNob9jCPmjzVMYjmFN8GknmaqOti7kh-QP7IlTUleyq=w25-h24-no') left center no-repeat;
    display: block;
    min-height: 25px;
    padding: 5px 0;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
}
input[type="radio"] + label:hover{
    background-color: var(--fccDarkGreen);
}

input[type=radio]:checked + label {
    background: url('https://lh3.googleusercontent.com/QSVgoBuOonsWKUZm6m0NKwekEvkfMOWrPFfevisISZjzeu2uQkxMOY1MUh3QgorRu2qc1kwKX4So7-mGJ-hayMAitq15L63KQNBfsOcm1qmWDU657CNl4lauYhgVz7f59IMrZBg8FWdgh26VDCvGMwUqaK6CBVv13AdKbxDMeDqiZS73EgzF5kBW5smh1nxCY5Gqk8yCmDsYh4KixdZWKGW7BqXLZn7cB2fQV4-o0DePjN69GJLXmddJ6H32CBgiFKE4smBvb1ByWpREmRYpFEUaHuQdbhHiiebI4Kipz35I6OxsVxKC6HOIQC3Xk6JVePhgudB2_-8Nyq2M9rWqIap8kAhmN-FI8iRdSLXhTV4FEeTHqokQ0qEXEZ5N9dRKoXT3al1Alcwrson_OtaALHldR9O7BO6Iq5_BV7-ERpoSYD8wGGhCcWQbjKkz5qHTa8yWRAfZaCLnK8Dzs0DPJtgMjQirittz8cpQQxQM4fhzXvG2x_Dtev4Y1YcZbzsaU6FpamC188SkjEDGOjYnf6CTk0VVbPk1DXFPIEGbOmc7b1unsq7uHOOkuRkGnTQ_d8aLNNPpeDvxP4agpI-ycfdH2ciG4sRXSKcdeAXGIHhNaI9T=w25-h24-no') left center no-repeat;
}

/* FIELDSET 5 */
.f5 legend {
    font-size: 30px;
}

.checkboxes {
    width:  450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col-1, .col-2 {
    text-align: left;
}

input[type=checkbox] {
	margin-bottom:  10px;
    cursor: pointer;
}

/* FIELDSET 6 */
textarea.comments {
    opacity: 1;
}

button[type="submit"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    cursor: pointer;
    border-radius: 5px;
    background: var(--fccDarkGreen);
    color: white;
    padding:  20px;
    text-shadow:none;
    font-size: 22px;
    line-height: 27px;
    transition: all 0.5s ease-in-out;
}

button[type="submit"]:hover {
    color: var(--fccDarkGreen);
    background: #fff;
}

/* CONTROLS DIV */
 .controls {
     height:12%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

/* hide thte lt by default on page load */
 .lt {
     margin-left: 40px;
     opacity:  0;
     visibility: hidden;
     transition:  all 0.5s ease-in-out;
 }

 .rt{
     margin-right: 40px;
 }

 .lt.active, .rt.active{
    opacity: 0.7;
    visibility: visible;
}

 .lt.hide, .rt.hide {
    opacity: 0;
    visibility: hidden;
 }
 