@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root{
    --fccGreen: #007E00;
    --p25: 25px;
    --m15: 15px;
}

* {
    box-sizing: border-box;
}

a {
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color:#E0E0E0;
    opacity: 1;
    font-size: 50px;
}

body {
    font-family: 'Lato', sans-serif;
}

form{
    color: white;
    background-color: var(--fccGreen);
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


fieldset{
    width: 100%;
    height: 80%;
} 

input {
    background: var(--fccGreen);
    color: #fff;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 10px;
    border-radius: 2px;
}

::placeholder{
    color: #fff;
    opacity: 1;
}

 .f2, .f3, .f4, .f5, .f6 {
     display: none;
 }

.form-content {
  position:absolute;
  top:35%;
  left: 50%;
  transform: translateX(-50%);

}

/* FIELDSET 1 */
fieldset.f1 legend{
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
}

legend::after {
    content: "";
    display: block;
    height: 2px;
    width: 300px;
    background-color: #fff;
    margin: 20px auto;
}

fieldset.f1 label{
    margin-right: 10px;
}

/* CONTROLS DIV */
 .controls {
     height:12%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .lt {
     margin-left: 20px;
 }

 .rt {
     margin-right: 20px;
 }
 